.ui-menu-item:nth-child(odd) {
    background-color: #f9f9f9;
}
.ui-menu-item {
    border-top: 1px solid #eee;
}
.ui-autocomplete {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.ui-menu-item>div:first{
}
li.ui-menu-item.autocomplete-entry{
    display:block;
}
.autocomplete-entry>div.ui-menu-item-wrapper{
    padding-right: 0.4em;
    padding-left: 0.4em;
}
.autocomplete-entry>div.ui-menu-item-wrapper>div:first-child{
    flex-direction: row;
    display: flex;
}
.autocomplete-entry>.ui-menu-item-wrapper>:first-child>:first-child{
    flex: 1 1;
    font-weight: bold;
}
.autocomplete-entry>.ui-menu-item-wrapper>:first-child>:last-child{
    flex: 0 auto;
}
.autocomplete-entry .matched{
    background-color: yellow;
    border: 1px solid #990;
    border-radius: 3px;
    color:initial;
}
.label.pull-right+.label.pull-right{
    margin-right: 0.2em;
}
#edamAccordion .panel-title{
    display: flex;
}
#edamAccordion .panel-title>a{
    flex: 1 1;
}
#edamAccordion .panel-title>span{
    flex: 0 auto;
}