.bg-edam-data-light{
    background-color:#d6b1c4;
    fill:#d6b1c4 !important;
}
.bg-edam-format-light{
    background-color:#9fb1d4;
    fill:#9fb1d4 !important;
}
.bg-edam-operation-light{
    background-color:#adcf9f;
    fill:#adcf9f !important;
}
.bg-edam-topic-light{
    background-color:#ffc6a7;
    fill:#ffc6a7 !important;
}

.bg-edam-data{
    background-color:#933162;
    fill:#933162 !important;
}
.bg-edam-format{
    background-color:#01308d;
    fill:#01308d !important;
}
.bg-edam-operation{
    background-color:#268101;
    fill:#268101 !important;
}
.bg-edam-topic{
    background-color:#fe6916;
    fill:#fe6916 !important;
}
.bg-edam-deprecated{
    background-color:#999;
    fill:#999 !important;
}

.fg-edam-data-light
,.fg-edam-data-light:hover
,.fg-edam-data-light:focus{
    color:#d6b1c4 !important;
    stroke:#d6b1c4 !important;
}
.fg-edam-format-light
,.fg-edam-format-light:hover
,.fg-edam-format-light:focus{
    color:#9fb1d4 !important;
    stroke:#9fb1d4 !important;
}
.fg-edam-operation-light
,.fg-edam-operation-light:hover
,.fg-edam-operation-light:focus{
    color:#adcf9f !important;
    stroke:#adcf9f !important;
}
.fg-edam-topic-light
,.fg-edam-topic-light:hover
,.fg-edam-topic-light:focus{
    color:#ffc6a7 !important;
    stroke:#ffc6a7 !important;
}
.fg-edam-deprecated
,.fg-edam-deprecated:hover
,.fg-edam-deprecated:focus{
    color:#bbb !important;
    stroke:#bbb !important;
}

.fg-edam-data
,.fg-edam-data:hover
,.fg-edam-data:focus{
    color:#933162 !important;
    stroke:#933162 !important;
}
.fg-edam-format
,.fg-edam-format:hover
,.fg-edam-format:focus{
    color:#01308d !important;
    stroke:#01308d !important;
}
.fg-edam-operation
,.fg-edam-operation:hover
,.fg-edam-operation:focus{
    color:#268101 !important;
    stroke:#268101 !important;
}
.fg-edam-topic
,.fg-edam-topic:hover
,.fg-edam-topic:focus{
    color:#fe6916 !important;
    stroke:#fe6916 !important;
}
.fg-edam-deprecated
,.fg-edam-deprecated:hover
,.fg-edam-deprecated:focus{
    color:#999999 !important;
    stroke:#999999 !important;
}

.border-edam-data{
    border-color:#933162 !important;
    border: 1px solid;
}
.border-edam-format{
    border-color:#01308d !important;
    border: 1px solid;
}
.border-edam-operation{
    border-color:#268101 !important;
    border: 1px solid;
}
.border-edam-topic{
    border-color:#fe6916 !important;
    border: 1px solid;
}
.border-edam-deprecated{
    border-color:#999999 !important;
    border: 1px solid;
}
