.panel-separator{
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    padding-top: 10px;
}
#page-header{
    margin-top:15px;
    margin-bottom:9px;
    flex-wrap: wrap!important;
    border-bottom: 1px solid #eee;
}
#page-header>*{
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom:9px;
}
#page-header>*:first-child{
    flex:0 1 auto;
}
#page-header>*:last-child{
    min-width:30em;
}
#header-desc img {
    margin-right: 1em;
    height: 108px;  
}
#pageTitle{
    margin-top:0;
}
.header-icon>* {
    display: inline-block;
}
.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
}
.tree-controls .meta-info span{
    padding-left:0;
}
.tree-controls .meta-info{
    padding: 6px 12px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.modal-dialog .modal-body+.modal-body {
    border-top: 1px solid #e5e5e5;
    margin-top: -10px;
}
input+.text-for-disabled-input{
    display:none;
}
input:disabled+.text-for-disabled-input{
    display:initial;
}
#history-separator{
    display:none;
}
.panel-group+#history-separator{
    display:initial;
}
.edam-details table    .label{
    font-size:inherit;
}
.edam-details ul{
    margin-bottom:0px;
    line-height:2;
}
.edam-details tbody.details th *[data-toggle="tooltip"]{
    cursor:default;
}
#tree {
    height:100%;
}

.edam-details table .details td,
.edam-details table .details td a{
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal;
}

.footer-tools {
    position: absolute;
    right: 2rem;
    height: 0;
    text-align: right;
}

@media screen and (min-width: 1200px) {
  a.back-to-top {
    display: none;
  }
}

.communicate {
    text-align: center;
    color: #33CAFF;
}

a:before {
  display: inline-block;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

#tree-and-controls
{
    position:relative;
    height: 70vh;
    min-height: 400px;
    resize: vertical !important;
}
.resizer:hover
{
    background-color: grey;
}
.resizer
{
    background-color: #8884;
    width: 100%;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: row-resize;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tree-controls{
    position: absolute ;
    display:flex;
    flex-direction:column;
}
.tree-controls-right-bottom{
    right:0px;
    bottom:2em;
}
.tree-controls-right-top{
    right:0px;
    top:1em;
}
.tree-controls>*{
    text-align: end;
    margin-bottom: 1em;
}
.tree-controls .tree-control-element,
.tree-controls button.btn:active,
.tree-controls button.btn:focus:active,
.tree-controls button.btn{
    padding: 6px 12px;
    border-radius: 4px;
    border-width: 0;
    color: white;
    background: #000000c3;
    min-width:3em;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: inline-block;
}
.tree-controls .tree-controls-group>*:not(:first-child) button.no-on-controls-hover,
.tree-controls .tree-controls-group>*:not(:first-child) button:not(:hover){
    border-top-left-radius: 0;
}
.tree-controls .tree-controls-group>*:not(:last-child)  button.no-on-controls-hover,
.tree-controls .tree-controls-group>*:not(:last-child)  button:not(:hover){
    border-bottom-left-radius: 0;
}
.tree-controls .on-controls-hover{
    display:none;
    padding-left: 1rem;
}
.tree-controls *:hover>.on-controls-hover{
    display:initial;
}
.tree-controls .tree-control-element a {
    color: #98bfe2;
}
.tree-controls .tree-control-element a:focus,
.tree-controls .tree-control-element a:hover {
    color: #5c9ad1;
}
.tree-control-element input[type="checkbox"]{
    display:none;
}
.tree-control-element input[type="checkbox"]:checked+span:before{
    content: "\f205";
}
.tree-control-element input[type="checkbox"]+span:before{
    content: "\f204";
    font-family: 'Font Awesome 5 Free';
}
.tree-control-element label{
    cursor: pointer;
    margin-bottom:0;
}
body {
  overflow-x: hidden;
}
.branch {
    cursor: pointer;
}
.temp:last-child {
    opacity: 0;
}
svg{
    transition: box-shadow 0.1s ease-in-out;
}
.dragged-or-moved{
    box-shadow: inset 0 0 0.5em 0.5em #6666;
}
@media (max-width: 768px){
    #page-header>*:last-child{
        min-width:90vw;
    }
    #logo{
        display:none;
    }
}
/*boostrap 4 like classes*/
.p-0{
    padding:0 !important;
}
.d-flex {
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.user-select-none{
    user-select:none;
}
/*end of file*/
