.panel-separator{
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    padding-top: 10px;
}
.page-header{
    margin-top:0;
}
.meta-info>*{
    font-size:0;
    color:white;
    -webkit-transition: color 0.3s, font-size 0.3s;
       -moz-transition: color 0.3s, font-size 0.3s;
         -o-transition: color 0.3s, font-size 0.3s;
            transition: color 0.3s, font-size 0.3s;
}
.meta-info .not-hidden, .meta-info .not-hidden>*{
    font-size:inherit;
    color:inherit;

}
.meta-info:hover {
    background-color: #f5f5f5;
    border: #ddd solid 1px;
    border-radius: 3px;
}
.meta-info:hover>*{
    font-size:inherit;
    color:inherit;
}
.modal-dialog .modal-body+.modal-body {
    border-top: 1px solid #e5e5e5;
    margin-top: -10px;
}
input+.text-for-disabled-input{
    display:none;
}
input:disabled+.text-for-disabled-input{
    display:initial;
}
#history-separator{
    display:none;
}
.panel-group+#history-separator{
    display:initial;
}
#edamAccordion table    .label{
    font-size:inherit;
}
#edamAccordion ul{
    margin-bottom:0px;
    line-height:2;
}
#tree {
    height:70vh;
}

#edamAccordion table .details td a{
    word-break: break-all;
    white-space: normal;
}

.footer-tools {
    position: absolute;
    right: 2rem;
    height: 0;
    text-align: right;
}

@media screen and (min-width: 1200px) {
  a.back-to-top {
    display: none;
  }
}

.communicate {
    position: absolute;
    left: 50%;
    color: #33CAFF;
}

a:before {
  display: inline-block;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

#tree-and-controls
{
    position:relative;
}

#tree-controls{
    position: absolute ;
    right:0px;
    top:1em;
    display:flex;
    flex-direction:column;
}
#tree-controls>*{
    text-align: end;
    margin-bottom: 1em;
}
#tree-controls>*>*{
    border-width: 0;
    color: white;
    background: #000000c3;
    min-width:3em;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#tree-controls .on-controls-hover{
    display:none;
    padding-left: 1rem;
}
#tree-controls *:hover>.on-controls-hover{
    display:initial;
}
body {
  overflow-x: hidden;
}
.branch {
    cursor: pointer;
}

/*styling for dark theme starts here*/
.dark-mode {
  background-color: #101010;
  color: #B8B8B8;
}

/*for edam main box*/
.dark-mode .d3js-tree-container {
  background-color: #151515;
  fill: #8b949e;
}

.dark-mode .panel {
  border-color: #252525;
}

.dark-mode .panel-separator {
  border-color: #252525;
}

.dark-mode .node text {
  stroke: none;   
}

.dark-mode .node text+text {
  stroke: none;  
  stroke-width: 0px;    
}

/* for term details table*/
.dark-mode .panel-collapse {
  background-color: #151515;
  color: #B8B8B8;
}

/* toggle dark mode button*/
.dark-mode button {
  background-color: #303030;
  color: #B8B8B8;
  border-color: #505050;
}

.dark-mode button:hover {
  background-color: #202020;
  color: #B8B8B8;
  border-color: #050505;
}

.dark-mode .page-header {
  background-color: #080808;
  color: #B8B8B8;
  border-bottom: none !important;
}

.dark-mode .panel-heading {
  background-color: #111111;
  color: #B8B8B8;
}

.dark-mode .panel-body tr {
  border: solid #181818;
}

.dark-mode .btn {
  background-color: #303030;
  color: #B8B8B8;
  border-color: #050505;
}

.dark-mode .modal-content {
  background-color: #303030;
  overflow: hidden;
}

.dark-mode input {
  background-color: #202020;
  color: #B8B8B8;
  border-color: #181818;
}

.dark-mode .modal-body {
  border-bottom-color: #252525;
  border-top-color: #252525!important;
}

.dark-mode .modal-header {
  border-bottom-color: #252525;
}

.dark-mode .modal-footer {
  border-top-color: #252525;
}

.dark-mode .form-control[disabled] {
  background-color: #282828;

}

.dark-mode small {
  color: #BEBEBE;
}

.dark-mode .dropdown-toggle {
  background-color: #353535!important;
  color: #B8B8B8!important;
  border-color: #181818!important;
}

.dark-mode .dropdown-toggle:hover {
  background-color: #202020!important;
  color: #B8B8B8!important;
  border-color: #181818!important;
}

.dark-mode ul {
  background-color: #303030;
  color: #B8B8B8;
  border-color: #181818;
}

.dark-mode li {
  background-color: #303030;
  color: #B8B8B8;
  border-color: #181818;
}

.dark-mode .divider {
  background-color: #252525;
}

.dark-mode .branch {
  background-color: #303030;
  color: #B8B8B8;
  border-color: #252525;
}

.dark-mode .branch:hover {
  background-color: #404040;
  color: #B8B8B8;
  border-color: #252525;
}

.dark-mode dl:hover {
  background-color: #303030;
  color: #B8B8B8;
  border-color: #252525;
}

.dark-mode .autocomplete-entry {
  background-color: #404040!important;
  color: #B8B8B8!important;
  border-color: #202020;
}

.dark-mode .ui-widget-content div:hover {
  background: #909090;
  color: black;
  border-color: #202020;
}

.dark-mode #ui-id-2 {
  background-color: #303030;
  border-color: #000000;
}

.dark-mode ul li a {
  background-color: #353535;
  color: #B8B8B8;
  border-color: #181818;
}

.dark-mode ul li a:hover {
  background-color: #202020;
  color: #B8B8B8;
  border-color: #050505;
}
/*styling for dark theme ends here*/

