.panel-separator{
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    padding-top: 10px;
}
.page-header{
    margin-top:0;
}

#header-desc {
    width: 100%;
}

#header-desc img {
    float: left;
    margin: 10px 10px;
    width: 108px;
    height: 108px;  
}

.header-icon p {
    max-width: 230px;
    display: inline-block;
}

@media screen and (min-width: 1200px) { 
    .flex-container {
        display: flex;
        align-items: center;
    }
    
    #header-desc p.edam-defn {
        width: max-content;
    }
}

.meta-info>*{
    font-size:0;
    color:white;
    -webkit-transition: color 0.3s, font-size 0.3s;
       -moz-transition: color 0.3s, font-size 0.3s;
         -o-transition: color 0.3s, font-size 0.3s;
            transition: color 0.3s, font-size 0.3s;
}
.meta-info .not-hidden, .meta-info .not-hidden>*{
    font-size:inherit;
    color:inherit;

}
.meta-info:hover {
    background-color: #f5f5f5;
    border: #ddd solid 1px;
    border-radius: 3px;
}
.meta-info:hover>*{
    font-size:inherit;
    color:inherit;
}
.modal-dialog .modal-body+.modal-body {
    border-top: 1px solid #e5e5e5;
    margin-top: -10px;
}
input+.text-for-disabled-input{
    display:none;
}
input:disabled+.text-for-disabled-input{
    display:initial;
}
#history-separator{
    display:none;
}
.panel-group+#history-separator{
    display:initial;
}
#edamAccordion table    .label{
    font-size:inherit;
}
#edamAccordion ul{
    margin-bottom:0px;
    line-height:2;
}
#tree {
    height:70vh;
}

#edamAccordion table .details td a{
    word-break: break-word;
    white-space: normal;
}

.footer-tools {
    position: absolute;
    right: 2rem;
    height: 0;
    text-align: right;
}

@media screen and (min-width: 1200px) {
  a.back-to-top {
    display: none;
  }
}

.communicate {
    position: absolute;
    left: 50%;
    color: #33CAFF;
}

a:before {
  display: inline-block;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

#tree-and-controls
{
    position:relative;
}

#tree-controls{
    position: absolute ;
    right:0px;
    top:1em;
    display:flex;
    flex-direction:column;
}
#tree-controls>*{
    text-align: end;
    margin-bottom: 1em;
}
#tree-controls>*>*{
    border-width: 0;
    color: white;
    background: #000000c3;
    min-width:3em;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#tree-controls .on-controls-hover{
    display:none;
    padding-left: 1rem;
}
#tree-controls *:hover>.on-controls-hover{
    display:initial;
}
body {
  overflow-x: hidden;
}
.branch {
    cursor: pointer;
}
.temp:last-child {
    opacity: 0;
}
