.panel-separator{
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    padding-top: 10px;
}
.page-header{
    margin-top:0;
}
.meta-info>*{
    font-size:0;
    color:white;
    -webkit-transition: color 0.3s, font-size 0.3s;
       -moz-transition: color 0.3s, font-size 0.3s;
         -o-transition: color 0.3s, font-size 0.3s;
            transition: color 0.3s, font-size 0.3s;
}
.meta-info .not-hidden, .meta-info .not-hidden>*{
    font-size:inherit;
    color:inherit;

}
.meta-info:hover {
    background-color: #f5f5f5;
    border: #ddd solid 1px;
    border-radius: 3px;
}
.meta-info:hover>*{
    font-size:inherit;
    color:inherit;
}
.ui-autocomplete {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
}
.modal-dialog .modal-body+.modal-body {
    border-top: 1px solid #e5e5e5;
    margin-top: -10px;
}
input+.text-for-disabled-input{
    display:none;
}
input:disabled+.text-for-disabled-input{
    display:initial;
}
.bg-edam-data{
    background-color:#FF8000;
}
.bg-edam-format{
    background-color:#3ADF00;
}
.bg-edam-operation{
    background-color:#00EEEE;
}
.bg-edam-topic{
    background-color:#BE81F7;
}
.fb-edam-data{
    color:#FF8000;
}
.fb-edam-format{
    color:#3ADF00;
}
.fb-edam-operation{
    color:#00EEEE;
}
.fb-edam-topic{
    color:#BE81F7;
}